@model dynamic

@{
    ViewBag.Title = ":)";
}
<html lang="">  
<head>   
	<title>Index</title>  
</head>  
<body>  
<div>  
	<img src="@Url.Action("EnergyChart")" alt="Chart" />  
	<br>
	<br>
	<img src="@Url.Action("TemperatureChart")" alt="Chart" />
</div>  
</body>  
</html>